<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Color Palette Generator</title>
    <link rel="stylesheet" href="/static/app.css" />
  </head>
  <body>
    <!-- Spinner element -->
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
    <div class="container"></div>

    <form id="form" autocomplete="off">
      <input type="text" name="query" />
      <button class="btn">Submit</button>
      <div id="instructions">
        <p>
          Enter your search term and click submit to generate a color palette.
        </p>
      </div>
      <div id="click-instructions">
        <p>Click on the color to copy to clipboard</p>
      </div>
    </form>

    <script src="/static/app.js"></script>
  </body>
</html>
