<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A simple color palette generator. Enter a search term to generate a color palette."
    />
    <meta name="keywords" content="Color, Palette, Generator, Design, Tool" />
    <meta name="author" content="Andrew" />
    <title>Color Palette Generator</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/static/app.css" />
  </head>
  <body>
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
    <div class="container"></div>

    <form id="form" autocomplete="off">
      <input type="text" name="query" />
      <button class="btn">Submit</button>
      <div id="instructions">
        <p>
          Enter your search term and click submit to generate a color palette.
        </p>
      </div>
      <div id="click-instructions">
        <p>Click on the color to copy to clipboard</p>
      </div>
    </form>

    <script src="/static/app.js"></script>
  </body>
</html>
